html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size: 13px;}

.column {
    display: inline-block;
    width: 45%;
}
label {
    display: block;
}
textarea {
    width: 98%;
    height: 200px;
}